@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
    ;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
    display: none;
  }
  
@media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
}
/* UI design */
body {
    background:
    radial-gradient(at 15% 25%, rgba(255, 180, 210, 0.589) 0%, transparent 60%),
    radial-gradient(at 85% 20%, rgba(200, 180, 255, 0.726) 0%, transparent 60%),
    radial-gradient(at 50% 80%, rgba(190, 225, 255, 0.726) 0%, transparent 60%),
    linear-gradient(180deg, #ffffff 0%, #f6f2ff 100%);

  background-size: 200% 200%;
  animation: auroraMove 20s ease-in-out infinite;

  background-attachment: fixed;
  
}
@keyframes auroraMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* Cards design */
.aurora-card {
  background: linear-gradient(
    135deg,
   rgb(255, 182, 220),
    rgb(196, 157, 255),
    rgb(143, 193, 255)
  );

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-radius: 18px;
  padding: 1.25rem;

  border: 1px solid rgba(255, 255, 255, 0.45);

  box-shadow:
    0 10px 30px rgba(160, 140, 200, 0.18),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);

  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}

/* Hover = gentle lift + glow */
.aurora-card:hover {
  transform: translateY(-4px);
  box-shadow:
     0 18px 45px rgba(120, 90, 200, 0.38),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
}